{% extends 'base.html' %}

{% block content %}
	<div class="container" style="margin-top:7%;">
		<!-- <div class="cont">
			<h1>Ваш заказ принять!</h1>
		</div> -->

		<div class="con">
			<h3>Спасибо за заказ! скоро с вами свяжемся</h3>
			<strong>Мы в соцюсетях</strong>
			<ul>
				<li> <a target="_blank" class="" href="">Instagram</a></li>
				<li> <a target="_blank" class="" href="">Facebook</a></li>
				<!-- <li> <a target="_blank" class="" href="">Telegram</a></li> -->
				<li> <a target="_blank" class="" href="https://wa.me/87478160485?text=Здравствуйте%2C+у+меня+есть+вопрос">Whatsapp</a></li>

			</ul>
		</div>
	

		
		<div class="cont1">
			<h3>Мы тут 	</h3>
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5849.9412024819!2d74.55011870359382!3d42.85235392945362!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389ec9aacd0b5e27%3A0xb9317a32731ea346!2z0J3QsNGA0L7QtNC90YvQuSDQoNCw0Y3Qu9GM!5e0!3m2!1sru!2skz!4v1622618835389!5m2!1sru!2skz" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
		</div>

	 

	</div>
{% endblock %}